$textMaxWidth: 800px;

.richText {
  position: relative;
  color: #000;
  font-size: 15px;
  line-height: 1.4;

  & > * {
    margin-top: 0.6em;

    &:first-child {
      margin-top: 0;
    }
  }

  hr {
    margin-top: 3em;
    margin-bottom: 3em;
    border: none;
    border-top: 1px solid #999;
  }

  b {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  &.limitedWidth {
    max-width: $textMaxWidth;
  }

  a:not([class]) {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  p,
  ul,
  ol,
  h1,
  h2 {
    max-width: $textMaxWidth;
  }

  p {
  }

  h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    // list-style-position: inside;
    padding-left: 1em;

    &.lsn {
      margin-left: 0;
      padding-inline-start: 0 !important;
      padding-left: 0;
      list-style: none;
    }
  }

  ol {
    list-style-type: decimal;
    // list-style-position: inside;
    padding-left: 1em;
  }

  ul ul,
  ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 1em;
  }

  ol ol,
  ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 1em;
  }

  ul li,
  ol li {
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  li {
  }

  pre {
    display: block;
    overflow-x: auto;
    background-color: #ddd;
    padding: 3px 6px;
    margin-left: -3px;
    border-radius: 4px;
    font-family: monospace;
    color: #000;
  }

  code {
    background-color: #ddd;
    color: #000;
    padding: 1px 6px;
    margin-left: -3px;
    border-radius: 4px;
    font-family: monospace;
  }
}
