@import './uinity.vars.color.core';

$colorSemanticSymbolPrimaryLight: #181c24;
$colorSemanticSymbolPrimaryDark: #f2f5fa;
$colorSemanticSymbolSecondaryLight: #3b4252;
$colorSemanticSymbolSecondaryDark: #a6adbd;
$colorSemanticSymbolTertiaryLight: #5f677a;
$colorSemanticSymbolTertiaryDark: #9aa1b2;
$colorSemanticSymbolQuaternaryLight: #9aa1b2;
$colorSemanticSymbolQuaternaryDark: #8d95a8;
$colorSemanticSymbolQuinaryLight: #a6adbd;
$colorSemanticSymbolQuinaryDark: #5f677a;
$colorSemanticBorderXHardLight: #bcc2d1;
$colorSemanticBorderXHardDark: #3b4252;
$colorSemanticBorderHardLight: #d3d9e5;
$colorSemanticBorderHardDark: #373f4d;
$colorSemanticBorderMediumLight: #e4e8f0;
$colorSemanticBorderMediumDark: #303642;
$colorSemanticBorderLightLight: #ebeef5;
$colorSemanticBorderLightDark: #2b313d;
$colorSemanticSurfaceLayoutAccentLight: #f7f9fc;
$colorSemanticSurfaceLayoutAccentDark: #0d1014;
