$layoutLayoutMaxWdthS: 1440;
$layoutContentMaxWidthS: 1440;
$layoutTextMaxWidthS: 800;
$layoutSidebarWidthS: 240;
$layoutSidebarMarginRightS: 32;
$layoutHeaderBorderWidthS: 1;
$layoutFooterBorderWidthS: 1;
$layoutSidebarBorderWidthS: 1;
$layoutLayoutPaddingHorizontalS: 20;
$layoutHeaderHeightS: 48;
$layoutContentPaddingTopS: 24;
$layoutContentPaddingBottomS: 48;
$layoutFooterPaddingTopS: 24;
$layoutFooterPaddingBottomS: 24;
$layoutSidebarPaddingTopS: 24;
$layoutSidebarPaddingBottomS: 24;
$layoutLayoutMaxWdthM: 1440;
$layoutContentMaxWidthM: 1440;
$layoutTextMaxWidthM: 800;
$layoutSidebarWidthM: 240;
$layoutSidebarMarginRightM: 32;
$layoutHeaderBorderWidthM: 1;
$layoutFooterBorderWidthM: 1;
$layoutSidebarBorderWidthM: 1;
$layoutLayoutPaddingHorizontalM: 32;
$layoutHeaderHeightM: 56;
$layoutContentPaddingTopM: 24;
$layoutContentPaddingBottomM: 48;
$layoutFooterPaddingTopM: 24;
$layoutFooterPaddingBottomM: 24;
$layoutSidebarPaddingTopM: 24;
$layoutSidebarPaddingBottomM: 24;
$layoutLayoutMaxWdthL: 1440;
$layoutContentMaxWidthL: 1440;
$layoutTextMaxWidthL: 800;
$layoutSidebarWidthL: 240;
$layoutSidebarMarginRightL: 32;
$layoutHeaderBorderWidthL: 1;
$layoutFooterBorderWidthL: 1;
$layoutSidebarBorderWidthL: 1;
$layoutLayoutPaddingHorizontalL: 32;
$layoutHeaderHeightL: 56;
$layoutContentPaddingTopL: 24;
$layoutContentPaddingBottomL: 48;
$layoutFooterPaddingTopL: 24;
$layoutFooterPaddingBottomL: 24;
$layoutSidebarPaddingTopL: 24;
$layoutSidebarPaddingBottomL: 24;
$layoutBodyBackground: #fff;
$layoutHeaderBackground: #eee;
$layoutFooterBackground: #eee;
$layoutHeaderBorderColor: #ccc;
$layoutFooterBorderColor: #ccc;
$layoutSidebarBorderColor: #ccc;
