$colorCoreNeutral0: #ffffff;
$colorCoreNeutral10: #f7f9fc;
$colorCoreNeutral20: #f2f5fa;
$colorCoreNeutral30: #ebeef5;
$colorCoreNeutral40: #e4e8f0;
$colorCoreNeutral50: #dadfeb;
$colorCoreNeutral60: #d3d9e5;
$colorCoreNeutral70: #bcc2d1;
$colorCoreNeutral80: #afb6c7;
$colorCoreNeutral90: #a6adbd;
$colorCoreNeutral100: #9aa1b2;
$colorCoreNeutral110: #8d95a8;
$colorCoreNeutral120: #828a9e;
$colorCoreNeutral130: #5f677a;
$colorCoreNeutral140: #51596b;
$colorCoreNeutral150: #3f4657;
$colorCoreNeutral160: #3b4252;
$colorCoreNeutral170: #373f4d;
$colorCoreNeutral180: #333a47;
$colorCoreNeutral190: #303642;
$colorCoreNeutral200: #2b313d;
$colorCoreNeutral210: #262c38;
$colorCoreNeutral220: #1c2029;
$colorCoreNeutral230: #181c24;
$colorCoreNeutral240: #0d1014;
$colorCoreNeutral250: #000000;
$colorCoreBrand0: #ffffff;
$colorCoreBrand10: #f5f8ff;
$colorCoreBrand20: #edf3ff;
$colorCoreBrand30: #e3ecfc;
$colorCoreBrand40: #dce6fa;
$colorCoreBrand50: #d3def5;
$colorCoreBrand60: #5e7ed6;
$colorCoreBrand70: #526bc7;
$colorCoreBrand80: #4755b8;
$colorCoreBrand90: #2f42c2;
$colorCoreBrand100: #2332a5;
$colorCoreBrand110: #1d2991;
$colorCoreBrand120: #18217d;
$colorCoreBrand130: #141b6a;
$colorCoreBrand140: #111659;
$colorCoreBrand150: #0e1248;
$colorCoreBrand160: #0b0f3a;
$colorCoreBrand170: #090c2e;
$colorCoreBrand180: #070922;
$colorCoreBrand190: #050718;
$colorCoreBrand200: #04050f;
$colorCoreBrand210: #030406;
$colorCoreBrand220: #020203;
$colorCoreBrand230: #010101;
$colorCoreBrand240: #000000;
$colorCoreBrand250: #000000;
$colorCoreBlue0: #ffffff;
$colorCoreBlue10: #ebf5ff;
$colorCoreBlue20: #d6eaff;
$colorCoreBlue30: #c2e0ff;
$colorCoreBlue40: #a6d3ff;
$colorCoreBlue50: #8cc7ff;
$colorCoreBlue60: #66b3ff;
$colorCoreBlue70: #4fa3ff;
$colorCoreBlue80: #3993ff;
$colorCoreBlue90: #2383ff;
$colorCoreBlue100: #0072ff;
$colorCoreBlue110: #0066e6;
$colorCoreBlue120: #005acc;
$colorCoreBlue130: #004db3;
$colorCoreBlue140: #004199;
$colorCoreBlue150: #003580;
$colorCoreBlue160: #002966;
$colorCoreBlue170: #001d4d;
$colorCoreBlue180: #001133;
$colorCoreBlue190: #00081a;
$colorCoreBlue200: #00040d;
$colorCoreBlue210: #000207;
$colorCoreBlue220: #000103;
$colorCoreBlue230: #000001;
$colorCoreBlue240: #000000;
$colorCoreBlue250: #000000;
$colorCoreRed0: #ffffff;
$colorCoreRed10: #ffe6e6;
$colorCoreRed20: #ffcccc;
$colorCoreRed30: #ffb3b3;
$colorCoreRed40: #ff9999;
$colorCoreRed50: #ff8080;
$colorCoreRed60: #ff6666;
$colorCoreRed70: #ff4d4d;
$colorCoreRed80: #ff3333;
$colorCoreRed90: #ff0a2b;
$colorCoreRed100: #e60000;
$colorCoreRed110: #cc0000;
$colorCoreRed120: #b30000;
$colorCoreRed130: #990000;
$colorCoreRed140: #800000;
$colorCoreRed150: #660000;
$colorCoreRed160: #4d0000;
$colorCoreRed170: #330000;
$colorCoreRed180: #1a0000;
$colorCoreRed190: #0d0000;
$colorCoreRed200: #070000;
$colorCoreRed210: #030000;
$colorCoreRed220: #020000;
$colorCoreRed230: #010000;
$colorCoreRed240: #000000;
$colorCoreRed250: #000000;
$colorCoreGreen0: #ffffff;
$colorCoreGreen10: #e6fff0;
$colorCoreGreen20: #ccffdb;
$colorCoreGreen30: #b3ffc5;
$colorCoreGreen40: #99ffaf;
$colorCoreGreen50: #80ff99;
$colorCoreGreen60: #66ff80;
$colorCoreGreen70: #4dff66;
$colorCoreGreen80: #33ff4d;
$colorCoreGreen90: #00a171;
$colorCoreGreen100: #00cc66;
$colorCoreGreen110: #00b359;
$colorCoreGreen120: #00994d;
$colorCoreGreen130: #008040;
$colorCoreGreen140: #006633;
$colorCoreGreen150: #004d26;
$colorCoreGreen160: #00331a;
$colorCoreGreen170: #001a0d;
$colorCoreGreen180: #000d07;
$colorCoreGreen190: #000705;
$colorCoreGreen200: #000403;
$colorCoreGreen210: #000201;
$colorCoreGreen220: #000100;
$colorCoreGreen230: #000080;
$colorCoreGreen240: #000000;
$colorCoreGreen250: #000000;
$colorCoreOrange0: #ffffff;
$colorCoreOrange10: #fff2e6;
$colorCoreOrange20: #ffe6cc;
$colorCoreOrange30: #ffd9b3;
$colorCoreOrange40: #ffcc99;
$colorCoreOrange50: #ffbf80;
$colorCoreOrange60: #ffb366;
$colorCoreOrange70: #ffa64d;
$colorCoreOrange80: #ff9933;
$colorCoreOrange90: #ff951f;
$colorCoreOrange100: #ff8000;
$colorCoreOrange110: #e67300;
$colorCoreOrange120: #cc6600;
$colorCoreOrange130: #b35900;
$colorCoreOrange140: #994d00;
$colorCoreOrange150: #804000;
$colorCoreOrange160: #663300;
$colorCoreOrange170: #4d2600;
$colorCoreOrange180: #331a00;
$colorCoreOrange190: #1a0d00;
$colorCoreOrange200: #0d0700;
$colorCoreOrange210: #070400;
$colorCoreOrange220: #030200;
$colorCoreOrange230: #020100;
$colorCoreOrange240: #010000;
$colorCoreOrange250: #000000;
$colorCoreYellow0: #ffffff;
$colorCoreYellow10: #fffbe6;
$colorCoreYellow20: #fff7cc;
$colorCoreYellow30: #fff2b3;
$colorCoreYellow40: #ffee99;
$colorCoreYellow50: #ffea80;
$colorCoreYellow60: #ffe666;
$colorCoreYellow70: #ffe34d;
$colorCoreYellow80: #ffdf33;
$colorCoreYellow90: #ffdb1a;
$colorCoreYellow100: #ffd700;
$colorCoreYellow110: #e6c300;
$colorCoreYellow120: #ccaf00;
$colorCoreYellow130: #b39b00;
$colorCoreYellow140: #998700;
$colorCoreYellow150: #807300;
$colorCoreYellow160: #665f00;
$colorCoreYellow170: #4d4b00;
$colorCoreYellow180: #333700;
$colorCoreYellow190: #1a2300;
$colorCoreYellow200: #0d1200;
$colorCoreYellow210: #070a00;
$colorCoreYellow220: #030500;
$colorCoreYellow230: #020300;
$colorCoreYellow240: #010100;
$colorCoreYellow250: #000000;
$colorCorePurple0: #ffffff;
$colorCorePurple10: #f5e6ff;
$colorCorePurple20: #ebccff;
$colorCorePurple30: #e0b3ff;
$colorCorePurple40: #d699ff;
$colorCorePurple50: #cc80ff;
$colorCorePurple60: #c266ff;
$colorCorePurple70: #b84dff;
$colorCorePurple80: #ae33ff;
$colorCorePurple90: #a41aff;
$colorCorePurple100: #9a00ff;
$colorCorePurple110: #8a00e6;
$colorCorePurple120: #7b00cc;
$colorCorePurple130: #6c00b3;
$colorCorePurple140: #5d0099;
$colorCorePurple150: #4e0080;
$colorCorePurple160: #3f0066;
$colorCorePurple170: #30004d;
$colorCorePurple180: #210033;
$colorCorePurple190: #12001a;
$colorCorePurple200: #0d000f;
$colorCorePurple210: #07000a;
$colorCorePurple220: #030005;
$colorCorePurple230: #020003;
$colorCorePurple240: #010001;
$colorCorePurple250: #000000;
$colorCoreBrown0: #ffffff;
$colorCoreBrown10: #f7f0e6;
$colorCoreBrown20: #efe0cc;
$colorCoreBrown30: #e6d1b3;
$colorCoreBrown40: #dcb399;
$colorCoreBrown50: #d39980;
$colorCoreBrown60: #cc8666;
$colorCoreBrown70: #b3744d;
$colorCoreBrown80: #996133;
$colorCoreBrown90: #805c1a;
$colorCoreBrown100: #665000;
$colorCoreBrown110: #594400;
$colorCoreBrown120: #4d3800;
$colorCoreBrown130: #402c00;
$colorCoreBrown140: #332100;
$colorCoreBrown150: #261600;
$colorCoreBrown160: #1a0d00;
$colorCoreBrown170: #0d0700;
$colorCoreBrown180: #070400;
$colorCoreBrown190: #030200;
$colorCoreBrown200: #020100;
$colorCoreBrown210: #010100;
$colorCoreBrown220: #010000;
$colorCoreBrown230: #000000;
$colorCoreBrown240: #000000;
$colorCoreBrown250: #000000;
