@mixin link($color) {
  color: $color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.actionLogs {
  .actionLog {
    & + .actionLog {
      margin-top: 16px;
    }

    .header {
      user-select: none;

      .action {
        cursor: pointer;
        @include link(#007bff);
      }

      .related {
        @include link(#6c757d);
      }
    }

    .data {
      margin-top: 4px;
    }
  }
}
